<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id = "Print" class="com.genspark.Student">
        <property name="id" value="12345"/>
        <property name="name" value="Bob"/>
        <property name="ph" ref="Phone"/>
        <property name="add" ref="Address"/>
    </bean>

    <bean id="Phone" class="com.genspark.Student">
        <property name="mob">
            <list>
                <value>012-345-6789</value>
            </list>
        </property>
    </bean>

    <bean id ="Address" class = "com.genspark.Address">
        <property name="city" value="New York"/>
        <property name="state" value="New York"/>
        <property name="country" value="America"/>
        <property name="zipcode" value="54321"/>
    </bean>

</beans>